<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
google.charts.load('current', {'packages':['gauge','corechart']});
google.charts.setOnLoadCallback(drawChart);

var chart;
var data;
var options;

var chart2;
var data2;
var options2;

var tickCount = 0;
var tableData;
var tableOptions;
var tableChart;
var tableEnd = 2007; //time
var columnCount = 1;

var today;
var time;

function drawChart() {
  data = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Grill', 80]
  ]);

  options = {
    width: 200, height: 200,
    yellowFrom:350, yellowTo: 450,
    redFrom: 450, redTo: 500,
    minorTicks:25,
    majorTicks:[100,200,300,400,500],
    min: 0,
    max: 500
  };

  data2 = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Meat', 80]
  ]);

  options2 = {
    width: 200, height: 200,
    yellowFrom:160, yellowTo: 190,
    redFrom: 190, redTo: 300,
    majorTicks:[100,200,300],
    min: 0,
    max: 300
  };

  today = new Date();
  tableData = google.visualization.arrayToDataTable([
          ['Time', 'Grill', 'Meat'],
          [2004,  50,      50]          
        ]);

  tableOptions = {
    title: 'Temperatures',
    curveType: 'function',
    legend: { position: 'bottom' }
  };

  chart = new google.visualization.Gauge(document.getElementById('chart_div'));
  chart.draw(data, options);

  chart2 = new google.visualization.Gauge(document.getElementById('chart2_div'));
  chart2.draw(data2, options2);

  tableChart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  tableChart.draw(tableData, tableOptions);
}

$(document).ready(function(){
  //connect to the socket server.
  var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
  var numbers_received = [];

  //receive details from server
  socket.on('newnumber', function(msg) {
    console.log("Received number" + msg.number);
    //maintain a list of ten numbers
    if (numbers_received.length >= 5){
      numbers_received.shift()
    }            
    numbers_received.push(msg.number);
    numbers_string = '';

    data.setValue(0, 1, 40 + Math.round(msg.number)); 
    data2.setValue(0, 1, 40 + (Math.round(msg.number)-20));
    
    chart.draw(data, options); 
    chart2.draw(data2, options2);

    if(columnCount > 10) {
      tableData.removeRow(0);
    } else {
      columnCount = columnCount + 1;    
    }
    tableEnd = tableEnd + 1;
    tableData.addRow([tableEnd, 40 + Math.round(msg.number), 40 + (Math.round(msg.number)-20)]); 
    tableChart.draw(tableData, tableOptions);

    for (var i = 0; i < numbers_received.length; i++){
      numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
    }
    $('#log').html(numbers_string);
  });
});
    </script>
    <style>
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  vertical-align:top;
  padding: 10px;
}
    </style>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Asynchronous Flask Communication</h1>
        <p>Modified to be a grill simulator.</p>
        <p>Based on a Random numbers generated by the Flask server will appear below, asynchronously.</p>
        <p>Original creator.<a href='https://www.shanelynn.ie/asynchronous-updates-to-a-webpage-with-flask-and-socket-io/' target='_blank'>here.</a></p>
      </div>
    </div>

    <div class="container" id="content">
      <div class="row">
        <div class="column">
          <p>Asynchronous page updates will appear here:</p>
          <h3>Number list:</h3>
          <div id="log"></div> <!-- /#log -->
        </div>
        <div class="column">
          <div class="row">
            <h3>Gauge here:</h3>
            <div id="chart_div" style="height: 120px;"></div>
            <div id="chart2_div" style="height: 120px;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="curve_chart"></div>
      </div>
    </div>

  </body>
</html>
